{% load static %}

<!-- 課題４、画像の圧縮 -->
<!-- 課題５、メールアドレスのパスワードを漏れない様にする -->
<!-- 課題６、もっと面白みのあるものを(自分らしく) -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About to Reo</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" height=50></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse text-monospace" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
                <li class="nav-item mr-4">
                    <a class="nav-link nav-color" href="/">HOME</a>
                </li>
                <li class="nav-item mr-4">
					<a class="nav-link nav-color" href="/#concept">CONCEPT</a>
				</li>
				<li class="nav-item mr-4">
					<a class="nav-link nav-color" href="/#works">WORKS</a>
				</li>
				<li class="nav-item mr-4">
					<a class="nav-link nav-color" href="/#about">ABOUT</a>
				</li>
                    <a class="nav-link nav-color" href="{% url 'contact' %}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}
</body>

</html>