{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="detail-page container">
    <h1 class="my-5 detail-title text-center">{{ work_data.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <a href="{{ work_data.url }}" class="stretched-link detail-btn"><img src="{{ work_data.image.url }}"
                    class="img-fluid detail-img" alt="">
            </a>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body col-12">
                    <div class="card-icon">
                        {% if work_data.url %}
                        <a class="link-color" href="{{ work_data.url }}" target="_blank">
                        <i class="fab fa-github fa-3x mr-2">GITHUB</i>
                        </a>
                        {% else %}
                            <p class="wait">現在、作成中の為しばらくお待ち下さい。</p>
                        {% endif %}
                    </div>
                    <p class="mt-3">使用したスキル：{{ work_data.skill }}</p>
                    <p>コメント：{{ work_data.description|linebreaksbr }}</p>
                </div>

            </div>
        </div>
        <!-- <div class="col-md-4">
            <h4 class="">INFORMATION</h4>
            <p>
                <i class="fas fa-laptop-code mr-2"></i>
                <span class="font-weight-bolder">SKILLS : </span>
                {{ work_data.skill }}
            </p>
            <p>
                <i class="fab fa-github mr-2"></i>
                <span class="font-weight-bolder">GITHUB : </span>
                {% if work_data.url %}
                <a class="link-color" href="{{ work_data.url }}" target="_blank">こちらへ</a>
                {% else %}
                Private
                {% endif %}
            </p>
            <p>
                <i class="far fa-calendar-alt mr-2"></i>
                <span class="font-weight-bolder">CREATED : </span>
                {{ work_data.created }}
            </p>
            <h4 class="mb-3">PROJECT DESCRIPTION</h4>
            <p>{{ work_data.description|linebreaksbr }}</p>
        </div> -->
    </div>
</div>

{% endblock %}