{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid mb-0"
    style="background: url({% static 'img/contact_bg.jpg' %}) fixed no-repeat">
    <div class="detail-page container">
        <h1 class="mb-2 detail-title text-center">{{ work_data.title }}</h1>
        <div class="row">
            <div class="col-md-8">
                <a href="{{ work_data.url }}" class="stretched-link detail-btn"><img src="{{ work_data.image.url }}"
                        class="img-fluid detail-img" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <h4 class="">INFORMATION</h4>
                <p>
                    <i class="fas fa-laptop-code mr-2"></i>
                    <span class="font-weight-bolder">SKILLS : </span>
                    {{ work_data.skill }}
                </p>
                <p>
                    <i class="fab fa-github mr-2"></i>
                    <span class="font-weight-bolder">GITHUB : </span>
                    {% if work_data.url %}
                    <a class="link-color" href="{{ work_data.url }}" target="_blank">こちらへ</a>
                    {% else %}
                    Private
                    {% endif %}
                </p>
                <p>
                    <i class="far fa-calendar-alt mr-2"></i>
                    <span class="font-weight-bolder">CREATED : </span>
                    {{ work_data.created }}
                </p>
                <h4 class="mb-3">PROJECT DESCRIPTION</h4>
                <p>{{ work_data.description|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>
<!-- <h1 class="mb-4">{{ work_data.title }}</h1>
        <div class="col-6 card work-detail-image">
            <a href="{{ work_data.url }}" class="stretched-link detail-btn"><img src="{{ work_data.image.url }}"
                    class="img-fluid detail-img" alt=""></a>
        </div>

        <div class="row col-6 ml-0">
            <div class="col-sm-4 mb-4">
                <h4 class="mb-3">INFORMATION</h4>
                <p>
                    <i class="fas fa-laptop-code mr-2"></i>
                    <span class="font-weight-bolder">SKILLS : </span>
                    {{ work_data.skill }}
                </p>
                <hr>
                <p>
                    <i class="fab fa-github mr-2"></i>
                    <span class="font-weight-bolder">GITHUB : </span>
                    {% if work_data.url %}
                    <a class="link-color" href="{{ work_data.url }}" target="_blank">Link</a>
                    {% else %}
                    Private
                    {% endif %}
                </p>
                <hr>
                <p>
                    <i class="far fa-calendar-alt mr-2"></i>
                    <span class="font-weight-bolder">CREATED : </span>
                    {{ work_data.created }}
                </p>
                <hr>
            </div>
            <div class="col-sm-8 mb-5 ">
                <h4 class="mb-3">PROJECT DESCRIPTION</h4>
                <p>{{ work_data.description|linebreaksbr }}</p>
            </div>
        </div> -->
<!-- </div> -->
</div>

{% endblock %}